.cta-widget {
  position: fixed;
  width: fit-content;
  height: 56px;
  right: 10px;
  bottom: 10px;
  background-color: var(--color-white);
  border-radius: 6px;
  border: 1px solid #909090;
  box-shadow: 2px 4px 6px 0 #0003;
  z-index: 4;
  padding: 0;
  font-family: var(--body-font-family);
  color: var(--text-color);
}

.cta-widget div { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding: 0 24px;
}

.cta-widget span.icon-chat {
  margin-inline-end: 13px;
  width: auto;
}

.cta-widget .icon-chat svg {
  width: 26px;
  height: auto;
}

.cta-widget-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto 0;
  position: fixed;
  right: 0;
  bottom: 10px;
  left: 0;
  box-shadow: 2px 4px 6px 0 #0003;
  border-radius: 6px;
  border: 1px solid #909090;
  z-index: 12;
  background-color: var(--background-color);
  width: 340px;
  max-height: calc(100vh - 20px);
  padding: 40px 33px;
  box-sizing: border-box;
  overflow-y: auto;
}

.cta-widget-body.hidden,
.cta-widget.hidden,
.cta-curtain.hidden {
  display: none;
}

.cta-widget-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cta-widget-body div:first-of-type {
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(112 112 112);
}

.cta-widget-body div:last-of-type {
  margin-top: 32px;
}

.cta-widget-body div img {
  max-width: 32px;
}

.cta-widget-body div :is(h1, h2, h3, h4, h5, h6) {
  font-size: var(--type-heading-s-size);
  margin: 0;
  line-height: var(--type-heading-s-lh);
  max-width: 200px;
}

.cta-widget-body div p {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
  margin-bottom: var(--spacing-xs);
  max-width: 200px;
  text-align: center;
}

.cta-widget-body div p:first-of-type {
  margin: 0 0 16px;
}

.cta-widget-body div p:nth-child(3) {
  margin: 5px 0 24px;
}

.cta-widget-body div p:last-of-type {
  margin: 0;
}

.widget-close {
  width: 18px;
  height: auto;
  position: absolute;
  top: 16.5px;
  right: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--text-color);
}

.cta-curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
  z-index: 11;
}

@media screen and (min-width: 900px),
       screen and (max-height: 499px) {
  .cta-widget-body {
    flex-direction: row;
    max-width: 482px;
    width: unset;
    height: unset;
    top: auto;
    right: 10px;
    bottom: 10px;
    left: auto;
    margin: 0;
    padding: 32px;
    align-items: stretch;
  }

  .cta-widget-body div {
    max-width: 241px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .cta-widget-body div p {
    max-width: 177px;
    text-align: left;
  }

  .cta-widget-body div p:nth-child(3) {
    flex-grow: 1;
  }

  .cta-widget-body div:first-of-type {
    padding-right: 32px;
    padding-bottom: 0;
    border-right: 1px solid rgb(112 112 112);
    border-bottom: none;
  }

  .cta-widget-body div:last-of-type {
    margin: 0;
    padding-left: 32px;
  }
}

@media screen and (min-width: 900px) {
  .cta-curtain {
    display: none;
  }
}
