main .form {
  /* Scope variables to form */
  --form-background-color: #3E3E3E;
  --form-input-border-color: #C1C1C3;
  --form-input-border-highlight-color: #E34850;
  --form-button-color: #C8C8C8;
  --form-button-background-color: var(--form-background-color);
  --form-button-font-size: 17px;

  background-color: var(--form-background-color);
  padding-top: 34px;
  min-height: 218px;
}

main .form > div {
  margin-left: 35%;
}

main .form h3 {
  color: var(--color-white);
  margin-bottom: 15px;
  margin-top: unset;
}

main .form.hide h3 {
  display: none;
}

main .section .content.hide {
  display: none;
}

main .form input {
  border: 1px solid var(--form-input-border-color);
  padding: 11px;
  border-radius: 10px;
  width: 50%;
  max-width: 50rem;
  box-sizing: border-box;
}

main .form p {
  font-size: var(--type-heading-l-size);
  line-height: var(--type-heading-l-lh);
  margin-top: unset;
}

main form .form-text-field-wrapper p {
  font-size: var(--type-heading-s-size);
  color: var(--color-white);
  margin: 0;
}

.form-container .default-content-wrapper.hide,
main form.hide {
  display: none;
}

main .form .trial-sign-up-message {
  color: white;
  max-width: 55%;
}

.form-container .default-content-wrapper p {
  font-size: var(--type-heading-s-size);
}

main .form label.form-label {
  position: relative;
}

main .form label.form-label.alert::after {
  content: "";
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
  margin-top: 14px;
  margin-bottom: 7px;
  background: url("/img/ui/Alert.svg") no-repeat;
}

main .form .button {
  font-size: var(--type-heading-l-size);
}

main .form .highlight {
  border-color: var(--form-input-border-highlight-color);
}

main .form .form-submit-wrapper  {
  width: 50%;
  text-align: end;
}

main .form .form-submit-wrapper .button.primary {
  font-family: var(--body-font-family);
  text-decoration: none;
  border: 2px solid var(--form-button-color);
  padding: 6px 16px 9px;
  font-size: var(--form-button-font-size);
  font-weight: 600;
  cursor: pointer;
  color: var(--form-button-color);
  background-color: var(--form-background-color);
  margin-top: 30px;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  main .form > div {
    margin-left: 15%;
  }

  main .form input {
    width: 85%;
  }

  main .form .form-submit-wrapper  {
    width: 85%;
  }
}
