.left-third {
  grid-column: 1 / 2;
}

.left-third.text-block .foreground,
.right-third.text-block .foreground,
.right-fill.text-block .foreground,
.left-fill.text-block .foreground {
  margin: 0;
}

.left-fill {
  grid-column: 2 / 4;
}

.right-third {
  grid-column: 3 / 4;
}

.right-fill {
  grid-column: 1 / 3;
}

main > .section.grid-third-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-m);
  align-items: start;
  padding-left: var(--grid-margins-width);
  padding-right: var(--grid-margins-width);
}
