
.link-check {
  margin: 0 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.link-check .field {
  margin: 1em 0;
}

.link-check .field label {
  margin: 0 0.5em;
}

.link-check .field input {
  width: 80%;
}

.link-check .comparisons {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 1%;
}

.link-check .comparisons > * {
  flex: 1;
}

.link-check .comparisons .comparison {
  max-height: 95vh;
  overflow: auto;
}

.link-check .comparisons .comparison ul {
  max-height: 85vh;
  overflow: auto;
}

.link-check .comparisons .comparison pre {
  overflow-x:auto;
  font-size: 12px;
  background: #ccc;
  max-height: 85vh;
  padding: 10px;
}
