/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.white-columns .columns > .row {
  padding: 80px 0;
}

.white-columns .col {
  background: white;
  margin: 0;
  padding: 32px;
}

.icon-headings .col img, 
.icon-headings .col svg {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 20px;
  position: relative;
  top: 4px;
}

.caas-data-hidden ul {
  display: none;
}

div[class*='-up'] .con-block.has-bg.text-block.text-list,
.text-block.text-list {
  padding: var(--spacing-s) var(--spacing-xs);
}

.text-block.text-list h2 {
  font-size: var(--type-heading-s-size);
  margin-bottom: var(--spacing-s);
}

.text-block.text-list p {
  margin-top: var(--spacing-xxs);
  margin-bottom: var(--spacing-xxs);
}

@media screen and (min-width: 900px) {
  .text-block.text-list {
    max-width: 400px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .icon-headings .col img {
    top: 10px;
  }
}

 /* CaaS Height Styles  */
.caas-spacing-m {
  min-height: 500px;
}

/* Section metadata fix */
main > .section[class*='-up'] > .content {
  max-width: initial;
  margin: 0;
}

main .section[class*='grid-width-'] {
  padding-left: unset;
  padding-right: unset;
  display: block;
}

main .section.two-up,
main .section.three-up,
main .section.four-up,
main .section.five-up {
  display: grid;
  padding-left: var(--grid-margins-width);
  padding-right: var(--grid-margins-width);
}

@media screen and (min-width: 1200px) {
  main .section.grid-width-10 {
    padding-left: var(--grid-margins-width-10);
    padding-right: var(--grid-margins-width-10);
  }

  main .section.grid-width-8 {
    padding-left: var(--grid-margins-width-8);
    padding-right: var(--grid-margins-width-8);
  }

  main .section.grid-width-6 {
    padding-left: var(--grid-margins-width-6);
    padding-right: var(--grid-margins-width-6);
  }
}
